.image-center{
    width: 150px;  
    height: 150px;
    margin:0 auto;
    margin-top: 20%;
    margin-bottom: 5%;
}

.center{
    margin-top: 5%;
    text-align: center;
    font-size: large;
}
.avatar{
    display: inline-block;
    margin-top: 5%;
    margin-left: 4%;
}