<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="start" (click)="buttonBack()"  fill="clear" shape="round">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="buttonDelete()">
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="buttonEdit()">
        <ion-icon *ngIf="edit == false" slot="start" name="pencil-outline"></ion-icon>
        <ion-icon *ngIf="edit == true" slot="start" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content mode='ios'>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div >
          <ion-title *ngIf="edit == false">{{movie.Titulo}}</ion-title>
          <ion-textarea *ngIf="edit == true" [placeholder]="titleChange" [value]="titleChange" [(ngModel)]="titleChange" class="textareaT"></ion-textarea>
        </div>
        <div class="center">
          <img class="img" [src]="movie.image">
        </div>
        <div class="center">
          <p>aqui iría el rate, si tuviera uno!</p>
        </div>
        <div class="center">
          <p *ngIf="edit == false">
            {{movie.Descripcion}}
          </p>
          <ion-textarea *ngIf="edit == true" [placeholder]="descriptionChange" [value]="descriptionChange" [(ngModel)]="descriptionChange" class="textareaD">  
          </ion-textarea>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
