ion-icon {
    align-content: center;
}
// on-item-sliding{
//     --border-radius: 10px;
//     margin-top: 2%;
//     margin-left: 5%;
//     margin-right: 5%;
// }
// ion-item{
//     margin-left: 0%;
// }
// .itemOption{
//     border-radius: 10px; 
//     width: 20%;
//     height: auto;
//     margin-top: 2.5%;
//     margin-right: 7.2%;
// }
.imga{
    width: 40%;
    
    float: left; 
    position: static;
}
.aa{
    margin-left: 20%;
    align-content: center;
}
.description{
    text-align: center;
    margin-bottom: 2px;
}
.valoration{
    margin-top: 10%;
}
