ion-icon {
    align-content: center;
}
.imga{
    width: 40%;
    
    float: left; 
    position: static;
}
.aa{
    margin-left: 20%;
    align-content: center;
}
.description{
    text-align: center;
    margin-bottom: 2px;
}
.valoration{
    margin-top: 10%;
}
.rating{
    text-align: center;
}