<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Movies</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="buttonMenu()" color="medium"> 
        <ion-icon slot="start" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="buttonSerch()" color="medium">
        <ion-icon slot="end" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>

      <ion-item-sliding >
        
        <ion-item>
          <ion-thumbnail>
            <img class="imga" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-thumbnail>
        </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="success" class="itemOption">Editar</ion-item-option>
      </ion-item-options>
      </ion-item-sliding>
    
    
</ion-content> -->

<ion-content mode="ios" >
  <ion-card *ngFor="let item of movies" (click)="onClick(item)">
      <img conten class="imga" [src]="item.image">
      <ion-card-header>
        <ion-title class="aa">{{item.Titulo}}
          <ion-icon slot="start" name="add"></ion-icon>
        </ion-title>
      </ion-card-header>
      <div class="description">
        <p class="description">{{item.Descripcion}}</p>
      </div>
      <div>
        <div class="lebel-rating">
          <p>Rating:</p>
        </div>
        <div class="star-container">
          <div class="rating"  *ngFor="let star of item.valoration">
            <ion-icon *ngIf="star === 1" class="rating"  name="star" color="warning"></ion-icon>
            <ion-icon *ngIf="star === 0" class="rating"  name="star-outline"></ion-icon>
          </div>
        </div>
      </div>
      
  </ion-card>
</ion-content>
<ion-footer mode="ios">
  <div class="ion-text-center">
    <ion-icon  routerLink="/modal-add-movie"  slot="start" name="add-circle" color="medium" size="large"></ion-icon>
  </div>
</ion-footer>